* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
.navbar {
    padding: 0;
    width: 100%;


body {
    background: linear-gradient(90deg, rgba(200,185,192,1) 0%, rgba(114,139,168,0.7371323529411764) 100%);

}
